body{
	background-color: #006400;
	position: relative;
}
div{
	background-color: black;
	border: 1px solid #F0FFFF;
	width: 300px;
	height: 300px;
	position: absolute;
}
.caja{
	background-color: black;
	border: 1px solid #F0FFFF;
	width: 300px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 305px;
}
