*{
	margin: 0;
	padding: 0;
}
.caja{
	border: 2px solid black;
	width: 30%;
	height: auto;
    margin: 35%;
	padding: 10px;
}
input[type=checkbox]{
	position: absolute;
	left: -1000em;
}
label{
	display: block;
}
label:hover{
	cursor: pointer;
}

